.shoe-details {
    margin-top: 10px;
    margin-left: 20px;
    width: 400px;
    float: left;
    border-style: solid;
}

.shoe-details .shoe-titles-details {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 100px;
}

.shoe-details .shoe-values-details {
    float: left;
    text-align: center;
    width: 200px;
}

.shoe-stats {
    margin-top: 10px;
    margin-left: 20px;
    width: 800px;
    float: left;
}


