{% block content %}

<div>
    <div class="title has-text-centered" >
        <h1>The Sneaker Analysis Tool</h1>
    </div>

    <div class="container has-text-centered">
        <a href="/">Home</a>
        <a href="/brands">Brands</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>

    <div class="container has-text-centered">
            <h1 class="title"></h1>
            <form method="POST" >
                <input type="text" class="input" placeholder="Type the sneaker name here..." name="sneaker" >
            </form>
    </div>
    <br>

</div>
{% endblock %}