{% extends "base.html" %}
{% block content %} 

<!-- Top -->
<div>
    <h2 style="text-align: center;">Contact</h2>
</div>

<!-- Discord banner -->
<div>
    <p style="text-align: center;">
        This project was created by Yasser - the same developer that brought you the very popular <a href="">open source sneaker monitors</a>
    </p>
    <img src="{{ url_for('static', filename='assets/img.png') }}" style="height: 150px;  display: block;margin-left: auto;margin-right: auto;" class="img-fluid">
</div>

{% endblock %}