{% extends "base.html" %}
{% block content %}
<div class="selection">
    <h4 class="subtitle" style="margin-left:10px">Results</h4>

    <!-- Display if no search results -->
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}

    <!-- List all search results -->
    {% for item in results %}
    <a href=/shoe/{{item.sku}}>
        <div class="card" style="margin-bottom: 5px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <img src={{item.picture_url}} style="max-width: 100%;">
                    </div>
                    <div class="col-11">
                        <p class="card-text">
                            <div style="display: table; overflow: hidden;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div>
                                        {{item.name}}
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    
</div>
{% endblock %}